node_modules/*
.vs/*
.vscode/*
src/db/*
!src/db/sql-dataset-generator.py
!src/db/cmps_schema.sql
!src/db/*.csv
!src/db/pdf_catalogue.py
!src/db/pdf2csv.py
!src/db/config.ini
*.txt
variables.env
client_secret.json